@using DOAN3.Models.Entities;
@model SanPham
@{
    ViewBag.Title = "Sản Phẩm";
    Layout = "~/Views/Shared/Layout2.cshtml";
    
}
@Styles.Render("~/Content/sanpham")

<section class="main-container col1-layout">
    <div class="main container">
        <div class="col-main">
            <div class="row">
                <div class="product-view wow">
                    <div class="row">
                        <div class="col-lg-5 col-md-8 single-right-left ">
                            <div class="grid images_3_of_2">
                                <div class="flexslider">
                                    <img src="~/Content/products-images/@Model.HinhAnh" style="height:326px;width:310px;margin-top:10px;margin-left:70px;" />
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7 single-right-left simpleCart_shelfItem">
                            <h3 class="mb-3">@Model.TenSP</h3>
                            <p class="mb-3">
                                @if (Model.GiamGia > 0)
                                {
                                    int newprice = (Model.DonGia) - (@Model.GiamGia * @Model.DonGia / 100);
                                    <span class="item_price">@newprice.ToString("#,##") VNĐ</span>
                                    <del class="mx-2 font-weight-light">@Model.DonGia.ToString("#,##") VNĐ</del>
                                }
                                else
                                {
                                    <span class="item_price">@Model.DonGia.ToString("#,##") VNĐ</span>
                                }
                                <label>Giao hàng miễn phí</label>
                            </p>
                            <div class="single-infoagile">
                                <ul>
                                    <li class="mb-3">
                                        Bảo hành 12 tháng.
                                    </li>
                                    <li class="mb-3">
                                        Tốc độ giao hàng nhanh.
                                    </li>
                                    <li class="mb-3">
                                        Được bán bởi Inspire.
                                    </li>
                                </ul>
                            </div>
                            <div class="product-single-w3l">
                                <p class="my-3">
                                    <i class="fa icon-hand-right mr-2"></i>
                                    Đổi trả miễn phí
                                    <label>48 giờ</label> nhận hàng
                                </p>
                            </div>
                            <div class="occasion-cart">
                                <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                                            <button data-id="@Model.MaSP" class="button btn-cart">Thêm vào giỏ hàng</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- middle section -->
                    <div class="product-collateral">
                        <div class="col-sm-12 wow">
                            <ul id="product-detail-tab" class="nav nav-tabs product-tabs">
                                <li class="active">
                                    <a href="#product_tabs_comment" data-toggle="tab">Mô tả</a>
                                </li>
                                <li>
                                    <a href="#reviews_tabs" data-toggle="tab">Bình luận</a>
                                </li>
                            </ul>
                            <div id="productTabContent" class="tab-content">
                                <div class="tab-pane fade in active" id="product_tabs_comment">
                                    <div class="std" style="font-size: 15px;line-height: 2.875rem;font-weight: normal;color: rgba(0,0,0,.8);">
                                          @Html.Raw(Model.MoTa)                                  
                                    </div>                                                                                                                                                
                                </div>
                                <div class="tab-pane fade" id="reviews_tabs">
                                    <div class="box-collateral box-reviews" id="customer-reviews">
                                        <div class="box-reviews2">
                                            <h3>Bình luận</h3>
                                            <div class="box visible">
                                                <ul>
                                                    <li>
                                                        <table class="ratings-table">
                                                            <colgroup>
                                                                <col width="1">
                                                                <col>
                                                            </colgroup>
                                                            <tbody>
                                                                <tr>
                                                                    <td>
                                                                        <div class="rating-box">
                                                                            <div class="rating" style="width:100%;"></div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <div class="review">
                                                            <h6><a href="#/catalog/product/view/id/61/">Excellent</a></h6>
                                                            <small>Review by <span>Leslie Prichard </span>on 1/3/2014 </small>
                                                            <div class="review-txt"> I have purchased shirts from Minimalism a few times and am never disappointed. The quality is excellent and the shipping is amazing. It seems like it's at your front door the minute you get off your pc. I have received my purchases within two days - amazing.</div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <table class="ratings-table">
                                                            <colgroup>
                                                                <col width="1">
                                                                <col>
                                                            </colgroup>
                                                            <tbody>
                                                                <tr>
                                                                    <td>
                                                                        <div class="rating-box">
                                                                            <div class="rating" style="width:100%;"></div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <div class="review">
                                                            <h6><a href="#/catalog/product/view/id/60/">Amazing</a></h6>
                                                            <small>Review by <span>Sandra Parker</span>on 1/3/2014 </small>
                                                            <div class="review-txt"> Minimalism is the online ! </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <table class="ratings-table">
                                                            <colgroup>
                                                                <col width="1">
                                                                <col>
                                                            </colgroup>
                                                            <tbody>
                                                                <tr>
                                                                    <td>
                                                                        <div class="rating-box">
                                                                            <div class="rating" style="width:100%;"></div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <div class="review">
                                                            <h6><a href="#/catalog/product/view/id/59/">Nicely</a></h6>
                                                            <small>Review by <span>Anthony  Lewis</span>on 1/3/2014 </small>
                                                            <div class="review-txt"> Unbeatable service and selection. This store has the best business model I have seen on the net. They are true to their word, and go the extra mile for their customers. I felt like a purchasing partner more than a customer. You have a lifetime client in me. </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="box-reviews1">
                                            <div class="form-add">
                                                <form id="review-form" method="post" action="#">
                                                    <h3>Đánh giá</h3>
                                                    <fieldset>
                                                        <div id="rating">
                                                            <input type="radio" id="star5" name="rating" value="5" />
                                                            <label class="full" for="star5" title="Awesome - 5 stars"></label>

                                                            <input type="radio" id="star4" name="rating" value="4" />
                                                            <label class="full" for="star4" title="Pretty good - 4 stars"></label>

                                                            <input type="radio" id="star3" name="rating" value="3" />
                                                            <label class="full" for="star3" title="Meh - 3 stars"></label>

                                                            <input type="radio" id="star2" name="rating" value="2" />
                                                            <label class="full" for="star2" title="Kinda bad - 2 stars"></label>

                                                            <input type="radio" id="star1" name="rating" value="1" />
                                                            <label class="full" for="star1" title="Sucks big time - 1 star"></label>
                                                        </div>
                                                        <div class="review2">
                                                            <div class="input-box">
                                                                <label class="required1 label-wide" for="review_field">Nhận xét<em>*</em></label>
                                                                <textarea class="required-entry" rows="3" cols="5" id="review_field" name="detail"></textarea>
                                                            </div>
                                                            <div class="buttons-set">
                                                                <button class="button submit" title="Submit Review" type="submit"><span>Nhận xét</span></button>
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-collateral join-w3l1 ">
                        <div style="background:rgba(0,0,0,0.75);height:150px">

                        </div>
                    </div>
                    <!-- middle section -->
                    <div class="col-sm-12" style="padding-top:3rem;">
                        <div class="box-additional">
                            <div class="related-pro wow">
                                <div class="slider-items-products">
                                    <div class="new_title center">
                                        <h2>Sản phẩm tương tự</h2>
                                    </div>
                                    <div id="related-products-slider" class="product-flexslider hidden-buttons">
                                        <div class="slider-items slider-width-col4">
                                            <!-- Item -->
                                            <div class="item">
                                                <div class="col-item">
                                                    <div class="sale-label sale-top-right">
                                                        Sale
                                                    </div>
                                                    <div class="images-container">
                                                        <a class="product-image" title="Sample Product" href="product-detail.html">
                                                            <img alt="a" class="img-responsive" src="~/Content/products-images/product4.jpg" />
                                                        </a>
                                                        <div class="actions">
                                                            <div class="actions-inner">
                                                                <button type="button" title="Add to Cart" class="button btn-cart">
                                                                    <span>Add to Cart</span>
                                                                </button>
                                                                <ul class="add-to-links">
                                                                    <li>
                                                                        <a title="Add to Wishlist" class="link-wishlist" href="wishlist.html">
                                                                            <span>Add to Wishlist</span>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a title="Add to Compare" class="link-compare" href="compare.html">
                                                                            <span>Add to Compare</span>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="qv-button-container">
                                                            <a class="qv-e-button btn-quickview-1" href="quick_view.html">
                                                                <span>
                                                                    <span>Quick View</span>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="info">
                                                        <div class="info-inner">
                                                            <div class="item-title">
                                                                <a title="Sample Product" href="product-detail.html">Sample Product</a>
                                                            </div>
                                                            <!--item-title-->
                                                            <div class="item-content">
                                                                <div class="ratings">
                                                                    <div class="rating-box">
                                                                        <div class="rating" style="width:0%"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="price-box">
                                                                    <span class="regular-price">
                                                                        <span class="price">$50.00</span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <!--item-content-->
                                                        </div>
                                                        <!--actions-->
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Item -->
                                            <!-- Item -->
                                            <div class="item">
                                                <div class="col-item">
                                                    <div class="sale-label sale-top-right">Sale</div>
                                                    <div class="images-container">
                                                        <a class="product-image" title="Sample Product" href="product-detail.html">
                                                            <img alt="a" class="img-responsive" src="~/Content/products-images/product1.jpg" />
                                                        </a>
                                                        <div class="actions">
                                                            <div class="actions-inner">
                                                                <button type="button" title="Add to Cart" class="button btn-cart">
                                                                    <span>Add to Cart</span>
                                                                </button>
                                                                <ul class="add-to-links">
                                                                    <li>
                                                                        <a title="Add to Wishlist" class="link-wishlist" href="wishlist.html">
                                                                            <span>Add to Wishlist</span>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a title="Add to Compare" class="link-compare" href="compare.html">
                                                                            <span>Add to Compare</span>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="qv-button-container">
                                                            <a class="qv-e-button btn-quickview-1" href="quick_view.html">
                                                                <span>
                                                                    <span>Quick View</span>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="info">
                                                        <div class="info-inner">
                                                            <div class="item-title">
                                                                <a title="Sample Product" href="product-detail.html">
                                                                    Sample Product
                                                                </a>
                                                            </div>
                                                            <!--item-title-->
                                                            <div class="item-content">
                                                                <div class="ratings">
                                                                    <div class="rating-box">
                                                                        <div class="rating" style="width:50%"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="price-box">
                                                                    <p class="special-price">
                                                                        <span class="price"> $45.00 </span>
                                                                    </p>
                                                                    <p class="old-price">
                                                                        <span class="price-sep">-</span>
                                                                        <span class="price"> $50.00 </span>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <!--item-content-->
                                                        </div>
                                                        <!--info-inner-->
                                                        <!--actions-->
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Item -->
                                            <!-- Item -->
                                            <div class="item">
                                                <div class="col-item">
                                                    <div class="sale-label sale-top-right">Sale</div>
                                                    <div class="images-container">
                                                        <a class="product-image" title="Sample Product" href="product-detail.html">
                                                            <img alt="a" class="img-responsive" src="~/Content/products-images/product6.jpg">
                                                        </a>
                                                        <div class="actions">
                                                            <div class="actions-inner">
                                                                <button type="button" title="Add to Cart" class="button btn-cart">
                                                                    <span>Add to Cart</span>
                                                                </button>
                                                                <ul class="add-to-links">
                                                                    <li>
                                                                        <a title="Add to Wishlist" class="link-wishlist" href="wishlist.html">
                                                                            <span>Add to Wishlist</span>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a title="Add to Compare" class="link-compare" href="compare.html">
                                                                            <span>Add to Compare</span>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="qv-button-container">
                                                            <a class="qv-e-button btn-quickview-1" href="quick_view.html">
                                                                <span>
                                                                    <span>Quick View</span>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="info">
                                                        <div class="info-inner">
                                                            <div class="item-title">
                                                                <a title="Sample Product" href="product-detail.html">
                                                                    Sample Product
                                                                </a>
                                                            </div>
                                                            <div class="item-content">
                                                                <div class="ratings">
                                                                    <div class="rating-box">
                                                                        <div class="rating" style="width:60%"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="price-box">
                                                                    <p class="special-price">
                                                                        <span class="price">$45.00</span>
                                                                    </p>
                                                                    <p class="old-price">
                                                                        <span class="price-sep">-</span>
                                                                        <span class="price">$50.00</span>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--actions-->
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Item -->
                                            <!-- Item -->
                                            <div class="item">
                                                <div class="col-item">
                                                    <div class="new-label new-top-right">New</div>
                                                    <div class="images-container">
                                                        <a class="product-image" title="Sample Product" href="product-detail.html">
                                                            <img alt="a" class="img-responsive" src="~/Content/products-images/product7.jpg" />
                                                        </a>
                                                        <div class="actions">
                                                            <div class="actions-inner">
                                                                <button type="button" title="Add to Cart" class="button btn-cart">
                                                                    <span>Add to Cart</span>
                                                                </button>
                                                                <ul class="add-to-links">
                                                                    <li>
                                                                        <a title="Add to Wishlist" class="link-wishlist" href="wishlist.html">
                                                                            <span>Add to Wishlist</span>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a title="Add to Compare" class="link-compare" href="compare.html">
                                                                            <span>Add to Compare</span>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="qv-button-container">
                                                            <a class="qv-e-button btn-quickview-1" href="quick_view.html">
                                                                <span>
                                                                    <span>Quick View</span>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="info">
                                                        <div class="info-inner">
                                                            <div class="item-title">
                                                                <a title="Sample Product" href="product-detail.html">Sample Product</a>
                                                            </div>
                                                            <!--item-title-->
                                                            <div class="item-content">
                                                                <div class="ratings">
                                                                    <div class="rating-box">
                                                                        <div class="rating" style="width:60%"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="price-box">
                                                                    <span class="regular-price">
                                                                        <span class="price">$422.00</span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <!--item-content-->
                                                        </div>
                                                        <!--actions-->
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Item -->
                                            <!-- Item -->
                                            <div class="item">
                                                <div class="col-item">
                                                    <div class="sale-label sale-top-right">Sale</div>
                                                    <div class="images-container">
                                                        <a class="product-image" title="Sample Product" href="product-detail.html">
                                                            <img alt="a" class="img-responsive" src="~/Content/products-images/product8.jpg" />
                                                        </a>
                                                        <div class="actions">
                                                            <div class="actions-inner">
                                                                <button type="button" title="Add to Cart" class="button btn-cart">
                                                                    <span>Add to Cart</span>
                                                                </button>
                                                                <ul class="add-to-links">
                                                                    <li>
                                                                        <a title="Add to Wishlist" class="link-wishlist" href="wishlist.html">
                                                                            <span>Add to Wishlist</span>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a title="Add to Compare" class="link-compare" href="compare.html">
                                                                            <span>Add to Compare</span>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="qv-button-container">
                                                            <a class="qv-e-button btn-quickview-1" href="quick_view.html">
                                                                <span>
                                                                    <span>Quick View</span>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="info">
                                                        <div class="info-inner">
                                                            <div class="item-title">
                                                                <a title="Sample Product" href="product-detail.html">Sample Product</a>
                                                            </div>
                                                            <!--item-title-->
                                                            <div class="item-content">
                                                                <div class="ratings">
                                                                    <div class="rating-box">
                                                                        <div class="rating" style="width:0%"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="price-box">
                                                                    <span class="regular-price">
                                                                        <span class="price">$50.00</span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <!--item-content-->
                                                        </div>
                                                        <!--actions-->
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Item -->
                                            <!-- Item -->
                                            <div class="item">
                                                <div class="col-item">
                                                    <div class="sale-label sale-top-right">Sale</div>
                                                    <div class="images-container">
                                                        <a class="product-image" title="Sample Product" href="product-detail.html">
                                                            <img alt="a" class="img-responsive" src="~/Content/products-images/product9.jpg">
                                                        </a>
                                                        <div class="actions">
                                                            <div class="actions-inner">
                                                                <button type="button" title="Add to Cart" class="button btn-cart">
                                                                    <span>Add to Cart</span>
                                                                </button>
                                                                <ul class="add-to-links">
                                                                    <li>
                                                                        <a title="Add to Wishlist" class="link-wishlist" href="wishlist.html">
                                                                            <span>Add to Wishlist</span>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a title="Add to Compare" class="link-compare" href="compare.html">
                                                                            <span>Add to Compare</span>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="qv-button-container">
                                                            <a class="qv-e-button btn-quickview-1" href="quick_view.html">
                                                                <span>
                                                                    <span>Quick View</span>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="info">
                                                        <div class="info-inner">
                                                            <div class="item-title">
                                                                <a title="Sample Product" href="product-detail.html">Sample Product</a>
                                                            </div>
                                                            <!--item-title-->
                                                            <div class="item-content">
                                                                <div class="ratings">
                                                                    <div class="rating-box">
                                                                        <div class="rating" style="width:50%"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="price-box">
                                                                    <p class="special-price">
                                                                        <span class="price"> $45.00 </span>
                                                                    </p>
                                                                    <p class="old-price">
                                                                        <span class="price-sep">-</span>
                                                                        <span class="price"> $50.00 </span>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <!--item-content-->
                                                        </div>
                                                        <!--actions-->
                                                        <div class="clearfix"> </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Item -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function calcRate(r) {
       const f = ~~r,//Tương tự Math.floor(r)
       id = 'star' + f + (r % f ? 'half' : '')
       id && (document.getElementById(id).checked = !0)
      }
</script>

