@using DOAN3.Models.Entities;
@using PagedList.Mvc;
@model PagedList.PagedList<ChiTietPN>
<div class="col-md-12">
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Mã phiếu nhập</td>
                <td>Mã sản phẩm</td>
                <td>Số lượng nhập</td>
                <td>Đơn giá</td>
                <td>Chức năng</td>
            </tr>
        </thead>
        <tbody id="tblData">
            @if (Model != null)
            {
                foreach (ChiTietPN sp in Model)
                {
                    <tr id="@sp.MaPhieuNhap">
                        <td>@sp.MaSP </td>
                        <td>@sp.SoLuongNhap</td>
                        <td>@sp.DonGia</td>                      
                        <td id="chucnang">
                            <button class="btn btn-primary btn-edit" data-id="@sp.MaSP"><span class="icon-edit"></span></button>
                            <button class="btn btn-danger btn-delete" data-id="@sp.MaSP"><span class="icon-remove"></span></button>
                        </td>
                    </tr>
                }

            }
        </tbody>
    </table>
    <div class="pageIndexs">
        <ul class="pagination">
            <li data-id="prev" class="prev"><a href="#"><</a></li>
            @for (int i = 1; i <= Model.PageCount; i++)
            {
                if (i == Model.PageNumber)
                {
                    <li class="pageIndex active" data-id="@i"><a href="#">@i</a></li>
                }
                else
                {
                    <li data-id="@i" class="pageIndex"><a href="#">@i</a></li>
                }
            }
            <li data-id="next" class="next"><a href="#">></a></li>
        </ul>
    </div>
</div>
